[submodule "pack/visuals/start/dracula"]
	path = pack/visuals/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "pack/visuals/opt/vim-airline"]
	path = pack/visuals/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/visuals/opt/vim-airline-themes"]
	path = pack/visuals/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/visuals/start/vim-devicons"]
	path = pack/visuals/opt/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "pack/visuals/start/vim-indentguides"]
	path = pack/visuals/start/vim-indentguides
	url = https://github.com/thaerkh/vim-indentguides.git
[submodule "pack/tools/start/nerdtree"]
	path = pack/tools/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/tools/start/nerdtree-git-plugin"]
	path = pack/tools/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
